.logo {
    display: block;
    margin: auto;
    padding-top: 150px;
}

.search {
    display: block;
    margin: auto;
}

.buttons {
    text-align: center;
    margin: 20px;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
}

.foot1 {
    position: fixed;
    bottom: 35px;
    width: 100%;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    padding: 10px;
}

.foot2 {
    position: fixed;
    bottom: 0;
    width: 100%;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    padding: 10px;
}

.right {
    float: right;
}