.logo {
    display: block;
    margin: auto;
}

.search {
    display: block;
    margin: auto;
}

.buttons {
    text-align: center;
    margin: 20px;
}

ul {
    list-style-type: none;
    float: right;
}

li {
    display: inline;
}